.product__btn {
    padding: 10px 10px 10px 0px;
}


.btn__custom {
    position: relative;
    background-color: #8d6eff;
    border: solid;
    border-bottom-left-radius: 10px;
    width: 65%;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border-width: 7px;
        border-style: solid;
        border-color: #6b54c0 rgba(255,255,255,255) rgba(255,255,255,255) #6b54c0;
        border-radius: 0 0 5px 0;
        transition: border-width .1s;
       
    }

    &:after {
        content: "";
        position:absolute;
        background-color: white;
    }

}